
       {% extends 'layout.html' %}
       {%  block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('         {{ url_for('static', filename='assets/img/home-bg.jpg') }}       ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto">
                <h1>Basic Action</h1>
                <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
                 <a href="/logout"><button class="btn btn-danger">Logout</button></a>
                <h1>Add Edit Posts</h1>
                   <form name="sendMessage" id="contactForm" action="/add/{{id}}" method="post" novalidate>
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" value="{{post.title}}" placeholder="Enter your title..." data-sb-validations="required" />
                                    <label for="title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="subtitle" name="subtitle" type="text" value="{{post.subtitle}}" placeholder="Enter your subtitle..." data-sb-validations="required" />
                                    <label for="subtitle">Subtitle</label>
                                    <div class="invalid-feedback" data-sb-feedback="subtitle:required">A subtitle is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea rows="10" class="form-control" id="content" name="content"  placeholder="Enter your content..." data-sb-validations="required">{{post.content}}</textarea>
                                    <label for="content">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
                                </div>
                               <div class="form-floating">
                                    <input class="form-control" id="slag" name="slag" type="text" value="{{post.slag}}" placeholder="Enter your slag..." data-sb-validations="required" />
                                    <label for="slag">Slag</label>
                                    <div class="invalid-feedback" data-sb-feedback="slag:required">A slag is required.</div>
                                </div>
                            <div class="form-floating">
                                        <input class="form-control" id="img_file" name="img_file" type="text" value="{{post.img_file}}" placeholder="Enter your imgFile..." data-sb-validations="required" />
                                        <label for="img_file">Image File</label>
                                        <div class="invalid-feedback" data-sb-feedback="img_file:required">A imgFile is required.</div>
                                    </div>
                                <br />
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                   </form>
                </div>
            </div>
        </div>

       {% endblock %}