
       {% extends 'layout.html' %}
       {%  block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('         {{ url_for('static', filename='assets/img/home-bg.jpg') }}       ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto">
                    <h1>Basic Action</h1>
                    <a href="/add/0"><button class="btn btn-primary text-uppercase">Add a new post</button></a>
                    <a href="/logout"><button class="btn btn-danger text-uppercase">Logout</button></a>
                    <h1>Upload a File</h1>
<!--                    we will add file uploader here-->
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                          <input type="file" name="file1" />
                        <button class="btn btn-success text-uppercase" type="submit">Submit</button>
                    </form>

                    <h1>Edit Posts</h1>
                    <table class="table">

                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for post  in posts %}
                        <tr>
                            <td>{{post.id}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.date}}</td>
                            <td><a href="/edit/{{post.id}}"><button class="btn btn-primary text-uppercase">Edit</button></a></td>
                            <td><a href="/delete/{{post.id}}"><button class="btn btn-danger text-uppercase">Delete</button></a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       {% endblock %}