
       {% extends 'layout.html' %}
       {%  block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('         {{ url_for('static', filename='assets/img/home-bg.jpg') }}       ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}}</h1>
                            <span class="subheading">{{params['tag_line']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <!-- Featch it using for loop from the database-->
                    {% for post in posts %}

                    <div class="post-preview">
                        <a href="/post/{{post.slag}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.subtitle}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{post.date}}
                        </p>
                    </div>
                    {{post.content[0:140]}}...
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="clearfix">
                          <a class="btn btn-primary text-uppercase float-left" href="{{prev}}">&larr; Previous </a>

                         <a class="btn btn-primary text-uppercase float-right" href="{{next}}">Next &rarr;</a>
                    </div>
                </div>
            </div>
        </div>

       {% endblock %}